In [1]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('C:/Users/sopi0/codes/korea-tour-recommender/data/만족도조사.csv')
df.head()

C:\Users\sopi0\AppData\Local\Temp\ipykernel_3156\956307325.py:1: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/sopi0/codes/korea-tour-recommender/data/만족도조사.csv')

,아이디,한국 방문횟수(평균),한국 방문횟수(카테고리),한국 방문횟수(재방문),여행 형태,문1. 주요 방한 목적,문1-1. 한국여행 관심 계기_1순위,문1-1. 한국여행 관심 계기_2순위,문1-1. 한국여행 관심 계기_3순위,문2. 방문을 고려한 아시아 국가_1순위,...,문14. 타인 추천 의향,월별,분기별,국가별,성별,연령별,방한목적별,방한횟수별,여행형태별,가중치
0,6.0,4.0,4.0,5.0,1,1,2.0,3.0,4.0,4.0,...,5,1.0,1.0,3.0,2.0,2.0,1.0,4.0,1.0,866.099893
1,7.0,20.0,4.0,5.0,1,2,2.0,9.0,7.0,NaN,...,5,1.0,1.0,1.0,1.0,3.0,2.0,4.0,1.0,191.333757
2,8.0,2.0,2.0,5.0,1,5,NaN,NaN,NaN,NaN,...,5,1.0,1.0,4.0,2.0,1.0,5.0,2.0,1.0,244.838755
3,10.0,1.0,1.0,NaN,1,3,NaN,NaN,NaN,NaN,...,4,1.0,1.0,5.0,1.0,5.0,3.0,1.0,1.0,555.272342
4,11.0,3.0,3.0,5.0,1,2,8.0,3.0,7.0,NaN,...,5,1.0,1.0,1.0,2.0,4.0,2.0,3.0,1.0,193.434506

# 1. 변수 제거 & 주요 방한 목적==1 & 장기체류자 제거

In [28]:
col = ['아이디', '국가별','성별','연령별','문1. 주요 방한 목적', '한국 방문횟수(카테고리)', '문1-1. 한국여행 관심 계기_1순위',
       '문3-1. 고려한 관광활동_1순위', '문3-2. 고려한 관광인프라_1순위', '문7. 여행 동반자(1. 혼자 방문)', '문7. 여행 동반자(2. 배우자/파트너)',
       '문7. 여행 동반자(3. 부모님)', '문7. 여행 동반자(4. 자녀)', '문7. 여행 동반자(5. 그 외 가족/친지)', '문7. 여행 동반자(6. 친구)', 
       '문7. 여행 동반자(7. 직장 동료)', '문7. 여행 동반자(8. 기타)', '문7-1. 동반자 수(본인제외)',
        '문10. 1인 1일 지출경비(영향치 결측, 61일 이상 결측, 국제교통비 제외)', '문9-3. 총 체재기간_61일 이상 결측', 
        '문9-4. 시도별 체재기간_서울', '문9-4. 시도별 체재기간_경기', '문9-4. 시도별 체재기간_인천', '문9-4. 시도별 체재기간_강원',
        '문9-4. 시도별 체재기간_대전', '문9-4. 시도별 체재기간_충북', '문9-4. 시도별 체재기간_충남', '문9-4. 시도별 체재기간_세종', 
        '문9-4. 시도별 체재기간_경북', '문9-4. 시도별 체재기간_경남', '문9-4. 시도별 체재기간_대구', '문9-4. 시도별 체재기간_울산',
        '문9-4. 시도별 체재기간_부산', '문9-4. 시도별 체재기간_광주', '문9-4. 시도별 체재기간_전북', '문9-4. 시도별 체재기간_전남',
        '문9-4. 시도별 체재기간_제주',
        '문9-5. 주요 이용 숙박시설(1. 호텔)', '문9-5. 주요 이용 숙박시설(2. 모텔/여관)', '문9-5. 주요 이용 숙박시설(3. 콘도미니엄/리조트)',
        '문9-5. 주요 이용 숙박시설(4. 게스트하우스/호스텔)', '문9-5. 주요 이용 숙박시설(5. 민박/펜션)', '문9-5. 주요 이용 숙박시설(6. 학교/회사 기숙사, 연수원 등)',
        '문9-5. 주요 이용 숙박시설(7. 친척 또는 친구 집)', '문9-5. 주요 이용 숙박시설(8. 기타)', '문9-5. 주요 이용 숙박시설(9. 숙박하지 않음)',
        '문9-5. 숙박시설별 숙박기간(60박 이상 결측)_호텔', '문9-5. 숙박시설별 숙박기간(60박 이상 결측)_모텔/여관', '문9-5. 숙박시설별 숙박기간(60박 이상 결측)_콘도미니엄/리조트',
        '문9-5. 숙박시설별 숙박기간(60박 이상 결측)_게스트하우스/호스텔', '문9-5. 숙박시설별 숙박기간(60박 이상 결측)_민박/펜션',
        '문9-5. 숙박시설별 숙박기간(60박 이상 결측)_학교/회사 기숙사, 연수원 등', '문9-5. 숙박시설별 숙박기간(60박 이상 결측)_친척 또는 친구 집',
        '문9-5. 숙박시설별 숙박기간(60박 이상 결측)_기타'
        ]

In [29]:
df1 = df[col]
df1.head()

,아이디,국가별,성별,연령별,문1. 주요 방한 목적,한국 방문횟수(카테고리),문1-1. 한국여행 관심 계기_1순위,문3-1. 고려한 관광활동_1순위,문3-2. 고려한 관광인프라_1순위,문7. 여행 동반자(1. 혼자 방문),...,문9-5. 주요 이용 숙박시설(8. 기타),문9-5. 주요 이용 숙박시설(9. 숙박하지 않음),문9-5. 숙박시설별 숙박기간(60박 이상 결측)_호텔,문9-5. 숙박시설별 숙박기간(60박 이상 결측)_모텔/여관,문9-5. 숙박시설별 숙박기간(60박 이상 결측)_콘도미니엄/리조트,문9-5. 숙박시설별 숙박기간(60박 이상 결측)_게스트하우스/호스텔,문9-5. 숙박시설별 숙박기간(60박 이상 결측)_민박/펜션,"문9-5. 숙박시설별 숙박기간(60박 이상 결측)_학교/회사 기숙사, 연수원 등",문9-5. 숙박시설별 숙박기간(60박 이상 결측)_친척 또는 친구 집,문9-5. 숙박시설별 숙박기간(60박 이상 결측)_기타
0,6.0,3.0,2.0,2.0,1,4.0,2.0,1.0,6.0,1.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,24.0,NaN
1,7.0,1.0,1.0,3.0,2,4.0,2.0,3.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN
2,8.0,4.0,2.0,1.0,5,2.0,NaN,NaN,NaN,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10.0,5.0,1.0,5.0,3,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11.0,1.0,2.0,4.0,2,3.0,8.0,2.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df1 = df1[df1['문1. 주요 방한 목적']==1]
df1.shape

(9693, 54)

In [34]:
df1 = df1.dropna(subset=['문9-3. 총 체재기간_61일 이상 결측'])
df1.shape

(9652, 54)

# 2. '숙박시설_그룹' 변수 생성

주연이 코드

In [35]:
df2 = df1.copy()
df2.shape

(9652, 54)

In [36]:
# 숙박시설 관련 컬럼 자동 선택
stay_type_cols = [c for c in df.columns if c.startswith('문9-5. 주요 이용 숙박시설(')]
stay_days_cols = [c for c in df.columns if c.startswith('문9-5. 숙박시설별 숙박기간(60박 이상 결측)_')]
# 숙박시설명 통일용 매핑 (괄호 안 이름 기준으로 동일하게 맞춰줌)
stay_mapping = {col.split('(')[-1].replace(')', ''): col for col in stay_days_cols}
def merge_stay_types(row):
    # 선택된 숙박시설 리스트
    selected = [col.split('(')[-1].replace(')', '') for col in stay_type_cols if not pd.isna(row[col])]
    # 선택된 숙박시설이 없는 경우
    if len(selected) == 0:
        return np.nan
    # 한 개만 선택된 경우
    elif len(selected) == 1:
        return selected[0]
    # 복합형인 경우: 체류일수 기준으로 가장 오래 머문 숙박시설 선택
    else:
        durations = {}
        for s in selected:
            col_name = stay_mapping.get(s)
            if col_name in row:
                durations[s] = row[col_name]
        # 체류일수가 있는 숙박시설 중 가장 오래 머문 곳 선택
        if len(durations) > 0:
            return max(durations, key=durations.get)
        else:
            # 체류일수 정보 없으면 그냥 합쳐서 반환
            return '+'.join(selected)
# 통합 컬럼 생성
df2['숙박시설_그룹'] = df2.apply(merge_stay_types, axis=1)
# 결과 확인
print(df2['숙박시설_그룹'].value_counts(dropna=False).head(20))

숙박시설_그룹
1. 호텔                          7579
4. 게스트하우스/호스텔                   545
7. 친척 또는 친구 집                   281
8. 기타                           221
1. 호텔+4. 게스트하우스/호스텔             184
2. 모텔/여관                        164
5. 민박/펜션                        148
1. 호텔+8. 기타                     118
1. 호텔+7. 친척 또는 친구 집              83
3. 콘도미니엄/리조트                     76
1. 호텔+3. 콘도미니엄/리조트               61
1. 호텔+5. 민박/펜션                   34
1. 호텔+2. 모텔/여관                   29
4. 게스트하우스/호스텔+7. 친척 또는 친구 집      15
4. 게스트하우스/호스텔+8. 기타              13
2. 모텔/여관+7. 친척 또는 친구 집           10
2. 모텔/여관+4. 게스트하우스/호스텔            9
9. 숙박하지 않음                        9
3. 콘도미니엄/리조트+4. 게스트하우스/호스텔        7
6. 학교/회사 기숙사, 연수원 등               7
Name: count, dtype: int64