In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
df = pd.read_csv('C:/Users/sopi0/codes/korea-tour-recommender/data/2차전처리_2024.csv')
df.head()

,아이디,국가별,성별,연령별,문1. 주요 방한 목적,한국 방문횟수(카테고리),문1-1. 한국여행 관심 계기_1,문3-1. 고려한 관광활동_1,문3-2. 고려한 관광인프라_1,"문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)",...,문9-5. 숙박시설별 숙박기간_콘도미니엄/리조트,문9-5. 숙박시설별 숙박기간_게스트하우스/호스텔,문9-5. 숙박시설별 숙박기간_민박/펜션,"문9-5. 숙박시설별 숙박기간_학교/회사 기숙사, 연수원 등",문9-5. 숙박시설별 숙박기간_친척 또는 친구 집,문9-5. 숙박시설별 숙박기간_기타,숙박시설_그룹,여행동반자_그룹,방문 지역 수,주요 체재 지역
0,57,13,2,5,1,4,7.0,1.0,3.0,451.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,호텔,가족형,1,서울
1,58,3,2,4,1,4,7.0,11.0,6.0,272.935000,...,0.0,0.0,0.0,0.0,0.0,0.0,호텔,가족형,1,서울
2,59,3,2,3,1,3,7.0,12.0,2.0,177.650000,...,0.0,0.0,0.0,0.0,0.0,0.0,호텔,단체형,1,서울
3,60,1,1,2,1,1,8.0,11.0,2.0,153.780000,...,0.0,0.0,0.0,0.0,0.0,0.0,호텔,혼자형,1,서울
4,61,3,2,2,1,4,2.0,1.0,4.0,329.460000,...,0.0,0.0,0.0,0.0,0.0,0.0,호텔,가족형,2,서울

In [73]:
df.drop(axis=1, columns=['문9-5. 주요 이용 숙박시설_1', '문9-5. 주요 이용 숙박시설_2', '문9-5. 주요 이용 숙박시설_3',
       '문9-5. 주요 이용 숙박시설_4', '문9-5. 주요 이용 숙박시설_5', '문9-5. 주요 이용 숙박시설_6',
       '문9-5. 주요 이용 숙박시설_7', '문9-5. 주요 이용 숙박시설_8', '문9-5. 주요 이용 숙박시설_9',
       '문9-5. 숙박시설별 숙박기간_호텔', '문9-5. 숙박시설별 숙박기간_모텔/여관',
       '문9-5. 숙박시설별 숙박기간_콘도미니엄/리조트', '문9-5. 숙박시설별 숙박기간_게스트하우스/호스텔',
       '문9-5. 숙박시설별 숙박기간_민박/펜션', '문9-5. 숙박시설별 숙박기간_학교/회사 기숙사, 연수원 등',
       '문9-5. 숙박시설별 숙박기간_친척 또는 친구 집', '문9-5. 숙박시설별 숙박기간_기타'], inplace=True)

In [74]:
df.shape

(10183, 15)

In [75]:
df.columns

Index(['아이디', '국가별', '성별', '연령별', '문1. 주요 방한 목적', '한국 방문횟수(카테고리)',
       '문1-1. 한국여행 관심 계기_1', '문3-1. 고려한 관광활동_1', '문3-2. 고려한 관광인프라_1',
       '문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)', '문9-3. 총 체재기간_61일 이상 결측',
       '숙박시설_그룹', '여행동반자_그룹', '방문 지역 수', '주요 체재 지역'],
      dtype='object')

# '항목별 지출경비' 추가

In [76]:
df1 = df.copy()

In [77]:
tmp = pd.read_csv('C:/Users/sopi0/codes/korea-tour-recommender/data/2024_만족도조사.csv', encoding='cp949')

In [78]:
col = ['아이디',
    '문10-1. 항목별 지출경비(상하위 1% 대체)_여행사에 지불한 경비', '문10-1. 항목별 지출경비(상하위 1% 대체)_가이드 비용/가이드 팁',
'문10-1. 항목별 지출경비(상하위 1% 대체)_숙박비', '문10-1. 항목별 지출경비(상하위 1% 대체)_음식점 지출비',
'문10-1. 항목별 지출경비(상하위 1% 대체)_식음료/식재료 구매 비용', 
'문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기)',
'문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기 외)', 
'문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_수상 여객운송',
'문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기)', 
'문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기 외)',
'문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_수상 여객운송',
'문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_철도 여객운송',
'문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_도로 여객운송',
'문10-1. 항목별 지출경비(상하위 1% 대체)_운송장비 대여서비스',
'문10-1. 항목별 지출경비(상하위 1% 대체)_유류비',
'문10-1. 항목별 지출경비(상하위 1% 대체)_문화서비스',
'문10-1. 항목별 지출경비(상하위 1% 대체)_오락 및 운동관련 서비스',
'문10-1. 항목별 지출경비(상하위 1% 대체)_쇼핑비',
'문10-1. 항목별 지출경비(상하위 1% 대체)_데이터 통신비',
'문10-1. 항목별 지출경비(상하위 1% 대체)_치료 및 건강검진비',
'문10-1. 항목별 지출경비(상하위 1% 대체)_미용 서비스비',
'문10-1. 항목별 지출경비(상하위 1% 대체)_기타 비용'
    ]

In [79]:
tmp = tmp[col]

In [80]:
df1 = pd.merge(left=df1, right=tmp, how='inner', on='아이디')
df1.head()

,아이디,국가별,성별,연령별,문1. 주요 방한 목적,한국 방문횟수(카테고리),문1-1. 한국여행 관심 계기_1,문3-1. 고려한 관광활동_1,문3-2. 고려한 관광인프라_1,"문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)",...,문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_도로 여객운송,문10-1. 항목별 지출경비(상하위 1% 대체)_운송장비 대여서비스,문10-1. 항목별 지출경비(상하위 1% 대체)_유류비,문10-1. 항목별 지출경비(상하위 1% 대체)_문화서비스,문10-1. 항목별 지출경비(상하위 1% 대체)_오락 및 운동관련 서비스,문10-1. 항목별 지출경비(상하위 1% 대체)_쇼핑비,문10-1. 항목별 지출경비(상하위 1% 대체)_데이터 통신비,문10-1. 항목별 지출경비(상하위 1% 대체)_치료 및 건강검진비,문10-1. 항목별 지출경비(상하위 1% 대체)_미용 서비스비,문10-1. 항목별 지출경비(상하위 1% 대체)_기타 비용
0,57,13,2,5,1,4,7.0,1.0,3.0,451.666667,...,100.000000,0.0,0.0,0.00000,50.000000,500.000000,0.000000,0.0,0.0,0.0
1,58,3,2,4,1,4,7.0,11.0,6.0,272.935000,...,24.295442,0.0,0.0,4.04924,0.000000,485.908848,8.098481,0.0,0.0,0.0
2,59,3,2,3,1,3,7.0,12.0,2.0,177.650000,...,32.295107,0.0,0.0,0.00000,32.295107,322.951068,8.073777,0.0,0.0,0.0
3,60,1,1,2,1,1,8.0,11.0,2.0,153.780000,...,27.917700,0.0,0.0,0.00000,0.000000,139.588502,0.000000,0.0,0.0,0.0
4,61,3,2,2,1,4,2.0,1.0,4.0,329.460000,...,32.293668,0.0,0.0,0.00000,0.000000,968.810037,16.146834,0.0,0.0,0.0

In [81]:
print(df.shape)
print(df1.shape)

(10183, 15)
(10183, 37)

In [82]:
df1.columns

Index(['아이디', '국가별', '성별', '연령별', '문1. 주요 방한 목적', '한국 방문횟수(카테고리)',
       '문1-1. 한국여행 관심 계기_1', '문3-1. 고려한 관광활동_1', '문3-2. 고려한 관광인프라_1',
       '문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)', '문9-3. 총 체재기간_61일 이상 결측',
       '숙박시설_그룹', '여행동반자_그룹', '방문 지역 수', '주요 체재 지역',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_여행사에 지불한 경비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_가이드 비용/가이드 팁',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_숙박비', '문10-1. 항목별 지출경비(상하위 1% 대체)_음식점 지출비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_식음료/식재료 구매 비용',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기 외)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_수상 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기 외)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_수상 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_철도 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_도로 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_운송장비 대여서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_유류비', '문10-1. 항목별 지출경비(상하위 1% 대체)_문화서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_오락 및 운동관련 서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_쇼핑비', '문10-1. 항목별 지출경비(상하위 1% 대체)_데이터 통신비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_치료 및 건강검진비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_미용 서비스비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_기타 비용'],
      dtype='object')

In [83]:
food_cols =['문10-1. 항목별 지출경비(상하위 1% 대체)_음식점 지출비', 
            '문10-1. 항목별 지출경비(상하위 1% 대체)_식음료/식재료 구매 비용']
# 국제교통비 제외
transport_cols = [
    '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기)', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기 외)',
    '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_수상 여객운송', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_철도 여객운송',
    '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_도로 여객운송', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_운송장비 대여서비스', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_유류비'
]
activity_cols = [
    '문10-1. 항목별 지출경비(상하위 1% 대체)_문화서비스', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_오락 및 운동관련 서비스'
]
beauty_medical_cols = [
    '문10-1. 항목별 지출경비(상하위 1% 대체)_치료 및 건강검진비', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_미용 서비스비'
]
service_cols = [
    '문10-1. 항목별 지출경비(상하위 1% 대체)_여행사에 지불한 경비', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_가이드 비용/가이드 팁'
]
other_cols = [
    '문10-1. 항목별 지출경비(상하위 1% 대체)_데이터 통신비', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_기타 비용'
]

In [84]:
df1['Agg_식비'] = df1[food_cols].fillna(0).sum(axis=1)
df1['Agg_국내 교통비'] = df1[transport_cols].fillna(0).sum(axis=1)
df1['Agg_체험/활동비'] = df1[activity_cols].fillna(0).sum(axis=1)
df1['Agg_뷰티/의료비'] = df1[beauty_medical_cols].fillna(0).sum(axis=1)
df1['Agg_여행 서비스비'] = df1[service_cols].fillna(0).sum(axis=1)
df1['Agg_숙박비'] = df1['문10-1. 항목별 지출경비(상하위 1% 대체)_숙박비'].fillna(0)
df1['Agg_쇼핑비'] = df1['문10-1. 항목별 지출경비(상하위 1% 대체)_쇼핑비'].fillna(0)
df1['Agg_기타 비용'] = df1[other_cols].fillna(0).sum(axis=1)

In [85]:
agg_cols_list = [
    'Agg_식비', 'Agg_국내 교통비', 'Agg_체험/활동비', 'Agg_뷰티/의료비',
    'Agg_여행 서비스비', 'Agg_숙박비', 'Agg_쇼핑비', 'Agg_기타 비용'
]

df1['총 국내 지출경비'] = df1[agg_cols_list].sum(axis=1)

In [86]:
new_ratio_cols = []
for col in agg_cols_list:
    ratio_col_name = col.replace('Agg_', '') + '_비율' # 예: 'Agg_총 식비' -> '총 식비_비율'
    df1[ratio_col_name] = np.where(
        df1['총 국내 지출경비'] == 0,  # 만약 총 지출이 0이면
        0,                               # 비율도 0으로
        df1[col] / df1['총 국내 지출경비'] # 아니면 (항목 지출 / 총 지출) 계산
    )
    new_ratio_cols.append(ratio_col_name)

In [87]:
df1

,아이디,국가별,성별,연령별,문1. 주요 방한 목적,한국 방문횟수(카테고리),문1-1. 한국여행 관심 계기_1,문3-1. 고려한 관광활동_1,문3-2. 고려한 관광인프라_1,"문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)",...,Agg_기타 비용,총 국내 지출경비,식비_비율,국내 교통비_비율,체험/활동비_비율,뷰티/의료비_비율,여행 서비스비_비율,숙박비_비율,쇼핑비_비율,기타 비용_비율
0,57,13,2,5,1,4,7.0,1.0,3.0,451.666667,...,0.000000,2310.000000,0.259740,0.064935,0.021645,0.00000,0.004329,0.432900,0.216450,0.000000
1,58,3,2,4,1,4,7.0,11.0,6.0,272.935000,...,8.098481,846.372229,0.143527,0.028705,0.004784,0.00000,0.000096,0.239212,0.574108,0.009568
2,59,3,2,3,1,3,7.0,12.0,2.0,177.650000,...,8.073777,742.948932,0.239078,0.054336,0.043469,0.00000,0.000217,0.217344,0.434688,0.010867
3,60,1,1,2,1,1,8.0,11.0,2.0,153.780000,...,0.000000,727.256097,0.287908,0.134357,0.000000,0.00000,0.001919,0.383877,0.191939,0.000000
4,61,3,2,2,1,4,2.0,1.0,4.0,329.460000,...,16.146834,1259.775985,0.038452,0.051269,0.000000,0.00000,0.000256,0.128172,0.769034,0.012817
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10178,19271,1,2,2,1,1,5.0,3.0,3.0,126.316000,...,4.092311,495.169633,0.275482,0.027548,0.000000,0.00000,0.000000,0.550964,0.137741,0.008264
10179,19273,1,2,4,1,2,5.0,3.0,5.0,112.586000,...,0.000000,425.630000,0.258065,0.322581,0.000000,0.00000,0.000000,0.322581,0.096774,0.000000
10180,19274,1,1,4,1,2,9.0,12.0,4.0,52.860500,...,0.000000,178.653506,0.292683,0.073171,0.000000,0.00000,0.000000,0.390244,0.243902,0.000000
10181,19275,1,2,5,1,1,5.0,13.0,7.0,535.470000,...,0.000000,2512.800960,0.054570,0.005457,0.000000,0.74352,0.000000,0.032742,0.163711,0.000000
10182,19277,1,1,5,1,2,2.0,3.0,1.0,151.030000,...,0.000000,590.390000,0.348837,0.069767,0.000000,0.00000,0.000000,0.348837,0.232558,0.000000

In [88]:
df1.columns

Index(['아이디', '국가별', '성별', '연령별', '문1. 주요 방한 목적', '한국 방문횟수(카테고리)',
       '문1-1. 한국여행 관심 계기_1', '문3-1. 고려한 관광활동_1', '문3-2. 고려한 관광인프라_1',
       '문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)', '문9-3. 총 체재기간_61일 이상 결측',
       '숙박시설_그룹', '여행동반자_그룹', '방문 지역 수', '주요 체재 지역',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_여행사에 지불한 경비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_가이드 비용/가이드 팁',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_숙박비', '문10-1. 항목별 지출경비(상하위 1% 대체)_음식점 지출비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_식음료/식재료 구매 비용',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기 외)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_수상 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기 외)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_수상 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_철도 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_도로 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_운송장비 대여서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_유류비', '문10-1. 항목별 지출경비(상하위 1% 대체)_문화서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_오락 및 운동관련 서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_쇼핑비', '문10-1. 항목별 지출경비(상하위 1% 대체)_데이터 통신비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_치료 및 건강검진비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_미용 서비스비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_기타 비용', 'Agg_식비', 'Agg_국내 교통비',
       'Agg_체험/활동비', 'Agg_뷰티/의료비', 'Agg_여행 서비스비', 'Agg_숙박비', 'Agg_쇼핑비',
       'Agg_기타 비용', '총 국내 지출경비', '식비_비율', '국내 교통비_비율', '체험/활동비_비율',
       '뷰티/의료비_비율', '여행 서비스비_비율', '숙박비_비율', '쇼핑비_비율', '기타 비용_비율'],
      dtype='object')

In [89]:
cols = ['문10-1. 항목별 지출경비(상하위 1% 대체)_여행사에 지불한 경비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_가이드 비용/가이드 팁',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_숙박비', '문10-1. 항목별 지출경비(상하위 1% 대체)_음식점 지출비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_식음료/식재료 구매 비용',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기 외)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_수상 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기 외)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_수상 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_철도 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_도로 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_운송장비 대여서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_유류비', '문10-1. 항목별 지출경비(상하위 1% 대체)_문화서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_오락 및 운동관련 서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_쇼핑비', '문10-1. 항목별 지출경비(상하위 1% 대체)_데이터 통신비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_치료 및 건강검진비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_미용 서비스비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_기타 비용',
       'Agg_식비', 'Agg_국내 교통비', 'Agg_체험/활동비', 'Agg_뷰티/의료비',
       'Agg_여행 서비스비', 'Agg_숙박비', 'Agg_쇼핑비', 'Agg_기타 비용']

In [90]:
df1.drop(cols, axis=1, inplace=True)
df1.shape

(10183, 24)

In [91]:
df1.columns

Index(['아이디', '국가별', '성별', '연령별', '문1. 주요 방한 목적', '한국 방문횟수(카테고리)',
       '문1-1. 한국여행 관심 계기_1', '문3-1. 고려한 관광활동_1', '문3-2. 고려한 관광인프라_1',
       '문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)', '문9-3. 총 체재기간_61일 이상 결측',
       '숙박시설_그룹', '여행동반자_그룹', '방문 지역 수', '주요 체재 지역', '총 국내 지출경비', '식비_비율',
       '국내 교통비_비율', '체험/활동비_비율', '뷰티/의료비_비율', '여행 서비스비_비율', '숙박비_비율', '쇼핑비_비율',
       '기타 비용_비율'],
      dtype='object')

In [93]:
df1.to_csv('C:/Users/sopi0/codes/korea-tour-recommender/data/2024_3차_전처리.csv', index=False)