In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('C:/Users/sopi0/codes/korea-tour-recommender/data/2차_전처리.csv')
df.head()

,아이디,국가별,성별,연령별,문1. 주요 방한 목적,한국 방문횟수(카테고리),문1-1. 한국여행 관심 계기_1순위,문3-1. 고려한 관광활동_1순위,문3-2. 고려한 관광인프라_1순위,"문10. 1인 1일 지출경비(영향치 결측, 61일 이상 결측, 국제교통비 제외)",문9-3. 총 체재기간_61일 이상 결측,숙박시설_그룹,여행동반자_그룹,방문 지역 수,주요 체재 지역
0,6.0,3.0,2.0,2.0,1,4.0,2.0,1.0,6.0,40.49,27.0,1. 호텔+7. 친척 또는 친구 집,혼자형,2,서울
1,12.0,5.0,2.0,4.0,1,1.0,8.0,5.0,5.0,228.02,5.0,1. 호텔,친구형,1,서울
2,14.0,8.0,2.0,3.0,1,1.0,4.0,12.0,1.0,204.30,7.0,1. 호텔,가족형,2,서울
3,19.0,8.0,1.0,5.0,1,1.0,1.0,5.0,4.0,219.91,8.0,1. 호텔,가족형,3,서울
4,20.0,3.0,1.0,2.0,1,1.0,7.0,7.0,10.0,167.08,8.0,1. 호텔,친구형,2,서울

In [32]:
df.columns

Index(['아이디', '국가별', '성별', '연령별', '문1. 주요 방한 목적', '한국 방문횟수(카테고리)',
       '문1-1. 한국여행 관심 계기_1순위', '문3-1. 고려한 관광활동_1순위', '문3-2. 고려한 관광인프라_1순위',
       '문10. 1인 1일 지출경비(영향치 결측, 61일 이상 결측, 국제교통비 제외)',
       '문9-3. 총 체재기간_61일 이상 결측', '숙박시설_그룹', '여행동반자_그룹', '방문 지역 수', '주요 체재 지역'],
      dtype='object')

# '항목별 지출경비' 추가

In [65]:
df1 = df.copy()

In [66]:
tmp = pd.read_csv('C:/Users/sopi0/codes/korea-tour-recommender/data/만족도조사.csv')

C:\Users\sopi0\AppData\Local\Temp\ipykernel_17960\2054063380.py:1: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  tmp = pd.read_csv('C:/Users/sopi0/codes/korea-tour-recommender/data/만족도조사.csv')

In [67]:
col = ['아이디',
    '문10-1. 항목별 지출경비(상하위 1% 대체)_여행사에 지불한 경비', '문10-1. 항목별 지출경비(상하위 1% 대체)_가이드 비용/가이드 팁',
'문10-1. 항목별 지출경비(상하위 1% 대체)_숙박비', '문10-1. 항목별 지출경비(상하위 1% 대체)_음식점 지출비',
'문10-1. 항목별 지출경비(상하위 1% 대체)_식음료/식재료 구매 비용', 
'문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기)',
'문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기 외)', 
'문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_수상 여객운송',
'문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기)', 
'문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기 외)',
'문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_수상 여객운송',
'문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_철도 여객운송',
'문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_도로 여객운송',
'문10-1. 항목별 지출경비(상하위 1% 대체)_운송장비 대여서비스',
'문10-1. 항목별 지출경비(상하위 1% 대체)_유류비',
'문10-1. 항목별 지출경비(상하위 1% 대체)_문화서비스',
'문10-1. 항목별 지출경비(상하위 1% 대체)_오락 및 운동관련 서비스',
'문10-1. 항목별 지출경비(상하위 1% 대체)_쇼핑비',
'문10-1. 항목별 지출경비(상하위 1% 대체)_데이터 통신비',
'문10-1. 항목별 지출경비(상하위 1% 대체)_치료 및 건강검진비',
'문10-1. 항목별 지출경비(상하위 1% 대체)_미용 서비스비',
'문10-1. 항목별 지출경비(상하위 1% 대체)_기타 비용'
    ]

In [68]:
tmp = tmp[col]

In [69]:
df1 = pd.merge(left=df1, right=tmp, how='inner', on='아이디')
df1.head()

,아이디,국가별,성별,연령별,문1. 주요 방한 목적,한국 방문횟수(카테고리),문1-1. 한국여행 관심 계기_1순위,문3-1. 고려한 관광활동_1순위,문3-2. 고려한 관광인프라_1순위,"문10. 1인 1일 지출경비(영향치 결측, 61일 이상 결측, 국제교통비 제외)",...,문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_도로 여객운송,문10-1. 항목별 지출경비(상하위 1% 대체)_운송장비 대여서비스,문10-1. 항목별 지출경비(상하위 1% 대체)_유류비,문10-1. 항목별 지출경비(상하위 1% 대체)_문화서비스,문10-1. 항목별 지출경비(상하위 1% 대체)_오락 및 운동관련 서비스,문10-1. 항목별 지출경비(상하위 1% 대체)_쇼핑비,문10-1. 항목별 지출경비(상하위 1% 대체)_데이터 통신비,문10-1. 항목별 지출경비(상하위 1% 대체)_치료 및 건강검진비,문10-1. 항목별 지출경비(상하위 1% 대체)_미용 서비스비,문10-1. 항목별 지출경비(상하위 1% 대체)_기타 비용
0,6.0,3.0,2.0,2.0,1,4.0,2.0,1.0,6.0,40.49,...,77.20,0.00,0.00,23.16,0.0,386.02,20.07,54.04,0.0,0.0
1,12.0,5.0,2.0,4.0,1,1.0,8.0,5.0,5.0,228.02,...,12.81,0.00,0.00,12.81,0.0,512.40,0.00,0.00,0.0,0.0
2,14.0,8.0,2.0,3.0,1,1.0,4.0,12.0,1.0,204.30,...,0.00,95.34,31.78,9.08,22.7,90.80,0.00,0.00,0.0,0.0
3,19.0,8.0,1.0,5.0,1,1.0,1.0,5.0,4.0,219.91,...,56.75,0.00,0.00,0.00,0.0,340.50,0.00,0.00,0.0,0.0
4,20.0,3.0,1.0,2.0,1,1.0,7.0,7.0,10.0,167.08,...,65.20,0.00,0.00,0.00,0.0,326.00,0.00,0.00,0.0,0.0

In [70]:
print(df.shape)
print(df1.shape)

(9652, 15)
(9652, 37)

In [71]:
df1.columns

Index(['아이디', '국가별', '성별', '연령별', '문1. 주요 방한 목적', '한국 방문횟수(카테고리)',
       '문1-1. 한국여행 관심 계기_1순위', '문3-1. 고려한 관광활동_1순위', '문3-2. 고려한 관광인프라_1순위',
       '문10. 1인 1일 지출경비(영향치 결측, 61일 이상 결측, 국제교통비 제외)',
       '문9-3. 총 체재기간_61일 이상 결측', '숙박시설_그룹', '여행동반자_그룹', '방문 지역 수', '주요 체재 지역',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_여행사에 지불한 경비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_가이드 비용/가이드 팁',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_숙박비', '문10-1. 항목별 지출경비(상하위 1% 대체)_음식점 지출비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_식음료/식재료 구매 비용',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기 외)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_수상 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기 외)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_수상 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_철도 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_도로 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_운송장비 대여서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_유류비', '문10-1. 항목별 지출경비(상하위 1% 대체)_문화서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_오락 및 운동관련 서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_쇼핑비', '문10-1. 항목별 지출경비(상하위 1% 대체)_데이터 통신비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_치료 및 건강검진비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_미용 서비스비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_기타 비용'],
      dtype='object')

In [72]:
food_cols =['문10-1. 항목별 지출경비(상하위 1% 대체)_음식점 지출비', 
            '문10-1. 항목별 지출경비(상하위 1% 대체)_식음료/식재료 구매 비용']
# 국제교통비 제외
transport_cols = [
    '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기)', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기 외)',
    '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_수상 여객운송', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_철도 여객운송',
    '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_도로 여객운송', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_운송장비 대여서비스', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_유류비'
]
activity_cols = [
    '문10-1. 항목별 지출경비(상하위 1% 대체)_문화서비스', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_오락 및 운동관련 서비스'
]
beauty_medical_cols = [
    '문10-1. 항목별 지출경비(상하위 1% 대체)_치료 및 건강검진비', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_미용 서비스비'
]
service_cols = [
    '문10-1. 항목별 지출경비(상하위 1% 대체)_여행사에 지불한 경비', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_가이드 비용/가이드 팁'
]
other_cols = [
    '문10-1. 항목별 지출경비(상하위 1% 대체)_데이터 통신비', 
    '문10-1. 항목별 지출경비(상하위 1% 대체)_기타 비용'
]

In [73]:
df1['Agg_총 식비'] = df1[food_cols].fillna(0).sum(axis=1)
df1['Agg_총 국내 교통비'] = df1[transport_cols].fillna(0).sum(axis=1)
df1['Agg_총 체험/활동비'] = df1[activity_cols].fillna(0).sum(axis=1)
df1['Agg_총 뷰티/의료비'] = df1[beauty_medical_cols].fillna(0).sum(axis=1)
df1['Agg_총 여행 서비스비'] = df1[service_cols].fillna(0).sum(axis=1)
df1['Agg_숙박비'] = df1['문10-1. 항목별 지출경비(상하위 1% 대체)_숙박비'].fillna(0)
df1['Agg_쇼핑비'] = df1['문10-1. 항목별 지출경비(상하위 1% 대체)_쇼핑비'].fillna(0)
df1['Agg_기타 비용'] = df1[other_cols].fillna(0).sum(axis=1)

In [74]:
agg_cols_list = [
    'Agg_총 식비', 'Agg_총 국내 교통비', 'Agg_총 체험/활동비', 'Agg_총 뷰티/의료비',
    'Agg_총 여행 서비스비', 'Agg_숙박비', 'Agg_쇼핑비', 'Agg_기타 비용'
]

df1['총 국내 지출경비'] = df1[agg_cols_list].sum(axis=1)

In [75]:
new_ratio_cols = []
for col in agg_cols_list:
    ratio_col_name = col.replace('Agg_', '') + '_비율' # 예: 'Agg_총 식비' -> '총 식비_비율'
    df1[ratio_col_name] = np.where(
        df1['총 국내 지출경비'] == 0,  # 만약 총 지출이 0이면
        0,                               # 비율도 0으로
        df1[col] / df1['총 국내 지출경비'] # 아니면 (항목 지출 / 총 지출) 계산
    )
    new_ratio_cols.append(ratio_col_name)

In [76]:
df1

,아이디,국가별,성별,연령별,문1. 주요 방한 목적,한국 방문횟수(카테고리),문1-1. 한국여행 관심 계기_1순위,문3-1. 고려한 관광활동_1순위,문3-2. 고려한 관광인프라_1순위,"문10. 1인 1일 지출경비(영향치 결측, 61일 이상 결측, 국제교통비 제외)",...,Agg_기타 비용,총 국내 지출경비,총 식비_비율,총 국내 교통비_비율,총 체험/활동비_비율,총 뷰티/의료비_비율,총 여행 서비스비_비율,숙박비_비율,쇼핑비_비율,기타 비용_비율
0,6.0,3.0,2.0,2.0,1,4.0,2.0,1.0,6.0,40.49,...,20.07,1093.20,0.324863,0.120051,0.021186,0.049433,0.000000,0.112999,0.353110,0.018359
1,12.0,5.0,2.0,4.0,1,1.0,8.0,5.0,5.0,228.02,...,0.00,1140.09,0.168539,0.033708,0.011236,0.000000,0.000000,0.337079,0.449438,0.000000
2,14.0,8.0,2.0,3.0,1,1.0,4.0,12.0,1.0,204.30,...,0.00,1430.10,0.158730,0.088889,0.022222,0.000000,0.000000,0.666667,0.063492,0.000000
3,19.0,8.0,1.0,5.0,1,1.0,1.0,5.0,4.0,219.91,...,0.00,1759.25,0.129032,0.419355,0.000000,0.000000,0.000000,0.258065,0.193548,0.000000
4,20.0,3.0,1.0,2.0,1,1.0,7.0,7.0,10.0,167.08,...,0.00,1336.60,0.243902,0.170732,0.000000,0.000000,0.146341,0.195122,0.243902,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9647,21569.0,1.0,1.0,2.0,1,1.0,5.0,3.0,6.0,95.40,...,7.02,477.03,0.441167,0.073538,0.000000,0.029411,0.000000,0.147056,0.294111,0.014716
9648,21570.0,1.0,1.0,4.0,1,1.0,1.0,12.0,7.0,154.33,...,0.00,925.98,0.454545,0.090909,0.000000,0.000000,0.000000,0.303030,0.151515,0.000000
9649,21571.0,1.0,1.0,3.0,1,1.0,5.0,3.0,1.0,962.46,...,14.03,4812.29,0.072886,0.000000,0.000000,0.000000,0.005831,0.043732,0.874636,0.002915
9650,21573.0,1.0,2.0,4.0,1,2.0,5.0,1.0,1.0,89.44,...,7.02,357.77,0.392151,0.000000,0.000000,0.000000,0.000000,0.196076,0.392151,0.019622
9651,21575.0,1.0,1.0,5.0,1,1.0,5.0,3.0,6.0,91.20,...,0.00,364.78,0.384615,0.038462,0.000000,0.000000,0.000000,0.192308,0.384615,0.000000

In [77]:
df1.columns

Index(['아이디', '국가별', '성별', '연령별', '문1. 주요 방한 목적', '한국 방문횟수(카테고리)',
       '문1-1. 한국여행 관심 계기_1순위', '문3-1. 고려한 관광활동_1순위', '문3-2. 고려한 관광인프라_1순위',
       '문10. 1인 1일 지출경비(영향치 결측, 61일 이상 결측, 국제교통비 제외)',
       '문9-3. 총 체재기간_61일 이상 결측', '숙박시설_그룹', '여행동반자_그룹', '방문 지역 수', '주요 체재 지역',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_여행사에 지불한 경비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_가이드 비용/가이드 팁',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_숙박비', '문10-1. 항목별 지출경비(상하위 1% 대체)_음식점 지출비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_식음료/식재료 구매 비용',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기 외)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_수상 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기 외)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_수상 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_철도 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_도로 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_운송장비 대여서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_유류비', '문10-1. 항목별 지출경비(상하위 1% 대체)_문화서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_오락 및 운동관련 서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_쇼핑비', '문10-1. 항목별 지출경비(상하위 1% 대체)_데이터 통신비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_치료 및 건강검진비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_미용 서비스비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_기타 비용', 'Agg_총 식비', 'Agg_총 국내 교통비',
       'Agg_총 체험/활동비', 'Agg_총 뷰티/의료비', 'Agg_총 여행 서비스비', 'Agg_숙박비', 'Agg_쇼핑비',
       'Agg_기타 비용', '총 국내 지출경비', '총 식비_비율', '총 국내 교통비_비율', '총 체험/활동비_비율',
       '총 뷰티/의료비_비율', '총 여행 서비스비_비율', '숙박비_비율', '쇼핑비_비율', '기타 비용_비율'],
      dtype='object')

In [78]:
cols = ['문10-1. 항목별 지출경비(상하위 1% 대체)_여행사에 지불한 경비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_가이드 비용/가이드 팁',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_숙박비', '문10-1. 항목별 지출경비(상하위 1% 대체)_음식점 지출비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_식음료/식재료 구매 비용',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_항공비(국적기 외)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_국제교통비_수상 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_항공비(국적기 외)',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_수상 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_철도 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_한국에서의 교통비_도로 여객운송',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_운송장비 대여서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_유류비', '문10-1. 항목별 지출경비(상하위 1% 대체)_문화서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_오락 및 운동관련 서비스',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_쇼핑비', '문10-1. 항목별 지출경비(상하위 1% 대체)_데이터 통신비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_치료 및 건강검진비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_미용 서비스비',
       '문10-1. 항목별 지출경비(상하위 1% 대체)_기타 비용',
       'Agg_총 식비', 'Agg_총 국내 교통비', 'Agg_총 체험/활동비', 'Agg_총 뷰티/의료비',
       'Agg_총 여행 서비스비', 'Agg_숙박비', 'Agg_쇼핑비', 'Agg_기타 비용']

In [79]:
df1.drop(cols, axis=1, inplace=True)
df1.shape

(9652, 24)

In [80]:
df1.columns

Index(['아이디', '국가별', '성별', '연령별', '문1. 주요 방한 목적', '한국 방문횟수(카테고리)',
       '문1-1. 한국여행 관심 계기_1순위', '문3-1. 고려한 관광활동_1순위', '문3-2. 고려한 관광인프라_1순위',
       '문10. 1인 1일 지출경비(영향치 결측, 61일 이상 결측, 국제교통비 제외)',
       '문9-3. 총 체재기간_61일 이상 결측', '숙박시설_그룹', '여행동반자_그룹', '방문 지역 수', '주요 체재 지역',
       '총 국내 지출경비', '총 식비_비율', '총 국내 교통비_비율', '총 체험/활동비_비율', '총 뷰티/의료비_비율',
       '총 여행 서비스비_비율', '숙박비_비율', '쇼핑비_비율', '기타 비용_비율'],
      dtype='object')

In [82]:
df1.to_csv('C:/Users/sopi0/codes/korea-tour-recommender/data/3차_전처리.csv', index=False)