In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/sopi0/codes/korea-tour-recommender/data/2024_5차_전처리.csv')

In [3]:
df.columns

Index(['아이디', '성별', '연령별', '한국 방문횟수(카테고리)', '문1-1. 한국여행 관심 계기_1',
       '문3-1. 고려한 관광활동_1', '문3-2. 고려한 관광인프라_1',
       '문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)', '문9-3. 총 체재기간_61일 이상 결측',
       '숙박시설_그룹', '여행동반자_그룹', '방문 지역 수', '식비_비율', '국내 교통비_비율', '체험/활동비_비율',
       '뷰티/의료비_비율', '여행 서비스비_비율', '숙박비_비율', '쇼핑비_비율', '기타 비용_비율', '여행 패턴'],
      dtype='object')

In [44]:
raw = pd.read_csv('C:/Users/sopi0/codes/korea-tour-recommender/data/2024_만족도조사.csv', encoding='cp949')

In [69]:
raw

,Unnamed: 0,아이디,한국 방문횟수(평균),한국 방문횟수(카테고리),한국 방문횟수(재방문),여행 형태,문1. 주요 방한 목적,문1-1. 한국여행 관심 계기_1순위,문1-1. 한국여행 관심 계기_2순위,문1-1. 한국여행 관심 계기_3순위,...,성별,연령별,방한목적별,방한횟수별,여행형태별,weight1,weight2,weight3,weight4,가중치
0,0,57,5,4,5.0,1,1,7.0,NaN,NaN,...,2,5,1,4,1,198.017146,NaN,NaN,NaN,198.017146
1,1,58,4,4,5.0,1,1,7.0,10.0,2.0,...,2,4,1,4,1,784.278401,NaN,NaN,NaN,784.278401
2,2,59,3,3,5.0,1,1,7.0,2.0,8.0,...,2,3,1,3,1,607.021269,NaN,NaN,NaN,607.021269
3,3,60,1,1,NaN,1,1,8.0,7.0,3.0,...,1,2,1,1,1,1049.500143,NaN,NaN,NaN,1049.500143
4,4,61,5,4,5.0,1,1,2.0,9.0,10.0,...,2,2,1,4,1,876.796936,NaN,NaN,NaN,876.796936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16211,16211,19273,2,2,5.0,1,1,5.0,4.0,7.0,...,2,4,1,2,1,NaN,NaN,NaN,1215.218286,1215.218286
16212,16212,19274,2,2,5.0,1,1,9.0,2.0,7.0,...,1,4,1,2,1,NaN,NaN,NaN,1131.834751,1131.834751
16213,16213,19275,1,1,NaN,1,1,5.0,7.0,NaN,...,2,5,1,1,1,NaN,NaN,NaN,1212.382353,1212.382353
16214,16214,19277,2,2,5.0,1,1,2.0,4.0,6.0,...,1,5,1,2,1,NaN,NaN,NaN,1287.852779,1287.852779
16215,16215,19279,1,1,NaN,1,2,11.0,NaN,NaN,...,1,2,2,1,1,NaN,NaN,NaN,916.925851,916.925851

In [45]:
raw['문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)'].unique()

array([451.66666667, 272.935     , 177.65      , ...,  52.8605    ,
       151.03      ,  84.61538462])

In [46]:
df['문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)'].unique()

array([3, 2, 4, 1], dtype=int64)

In [47]:
df[df['문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)'].isna()]

Empty DataFrame
Columns: [아이디, 성별, 연령별, 한국 방문횟수(카테고리), 문1-1. 한국여행 관심 계기_1, 문3-1. 고려한 관광활동_1, 문3-2. 고려한 관광인프라_1, 문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측), 문9-3. 총 체재기간_61일 이상 결측, 숙박시설_그룹, 여행동반자_그룹, 방문 지역 수, 식비_비율, 국내 교통비_비율, 체험/활동비_비율, 뷰티/의료비_비율, 여행 서비스비_비율, 숙박비_비율, 쇼핑비_비율, 기타 비용_비율, 여행 패턴]
Index: []

[0 rows x 21 columns]

In [48]:
sorted(raw['문9-3. 총 체재기간'], reverse=True)

[91,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 87,
 87,
 87,
 87,
 87,
 87,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 85,
 85,
 85,
 85,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 83,
 83,
 83,
 83,
 82,
 82,
 82,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 80,
 80,
 80,
 80,
 78,
 77,
 76,
 76,
 76,
 76,
 76,
 76,
 75,
 75,
 75,
 74,
 74,
 74,
 74,
 73,
 73,
 72,
 72,
 71,
 71,
 71,
 71,
 71,
 71,
 71,
 70,
 70,
 69,
 69,
 69,
 68,
 68,
 68,
 68,
 67,
 67,
 67,
 66,
 66,
 66,
 66,
 66,
 65,
 65,
 65,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 63,
 63,
 63,
 63,
 63,
 63,
 62,
 62,
 62,
 62,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 59,
 59,
 59,
 58,
 57,
 57,
 57,
 57,
 56,
 56,
 56,
 56,
 55,
 54,
 53,
 53,
 53,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 50,
 50,
 50,
 50,
 50,
 49,
 48,
 48,
 48,
 48,
 47,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 44,
 44,
 44,
 44,
 44,
 43,
 43,
 43,
 43,
 43,
 43,
 42,
 42,
 42,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 40,
 40,
 40,
 40,
 40,
 39,
 39,
 39,
 39,
 38,
 38,
 38,
 38,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 23,
 ...]

90일 까지도 여행으로 볼 수 있지 않을까...?

In [49]:
raw.filter(like='문10. 1인')

,문10. 1인 지출경비(상하위 1% 대체),"문10. 1인 지출경비(상하위 1% 대체, 카테고리)","문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)","문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측, 카테고리)"
0,2710.000,3,451.666667,4.0
1,1364.675,2,272.935000,3.0
2,1065.900,2,177.650000,3.0
3,922.680,1,153.780000,3.0
4,1647.300,2,329.460000,4.0
...,...,...,...,...
16211,562.930,1,112.586000,3.0
16212,335.520,1,52.860500,2.0
16213,2677.350,3,535.470000,5.0
16214,755.150,1,151.030000,3.0
16215,2200.000,3,84.615385,2.0

아 근데 '1인 1일 지출경비' 칼럼은 61일 이상 결측이 아닌 칼럼이 없음.

그냥 결측값은 제거하겠음

In [50]:
cols = ['아이디', '문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)', '문9-3. 총 체재기간_61일 이상 결측']

In [51]:
df.drop(columns=['문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)', '문9-3. 총 체재기간_61일 이상 결측'], inplace=True)
df.shape

(10164, 19)

In [52]:
df = pd.merge(left=df, right=raw[cols], on='아이디', how='inner')
df.shape

(10164, 21)

In [53]:
df.columns

Index(['아이디', '성별', '연령별', '한국 방문횟수(카테고리)', '문1-1. 한국여행 관심 계기_1',
       '문3-1. 고려한 관광활동_1', '문3-2. 고려한 관광인프라_1', '숙박시설_그룹', '여행동반자_그룹',
       '방문 지역 수', '식비_비율', '국내 교통비_비율', '체험/활동비_비율', '뷰티/의료비_비율', '여행 서비스비_비율',
       '숙박비_비율', '쇼핑비_비율', '기타 비용_비율', '여행 패턴',
       '문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)', '문9-3. 총 체재기간_61일 이상 결측'],
      dtype='object')

In [66]:
df.dropna(subset=['문10. 1인 1일 지출경비(상하위 1% 대체, 61일 이상 결측)', '문9-3. 총 체재기간_61일 이상 결측'], inplace=True)

In [67]:
df.shape

(10137, 21)

In [68]:
df.to_csv('C:/Users/sopi0/codes/korea-tour-recommender/data/2024_6차_전처리.csv', index=False)